[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
fitbit = "*"
bcrypt = "*"
pytest-mock = "*"
slack-sdk = "*"
aiohttp = "*"
gunicorn = ">=20.0.4"
Flask = ">=1.1.2"
Flask-Login = ">=0.5"
CherryPy = "*"
Flask-SQLAlchemy = "*"
Flask-APScheduler = "*"

[dev-packages]

[requires]
python_version = "3.8"
