[scripts]
python = "python"
flask = "flask"
pytest = "pytest"
zappa = "zappa"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
fitbit = "*"
zappa = "*"
Flask = ">=1.1.2"
CherryPy = "*"

[dev-packages]

[requires]
python_version = "3.8"
